<p id="notice"><%= notice %></p>

<h1>Create Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @create_books.each do |create_book| %>
      <tr>
        <td><%= create_book.title %></td>
        <td><%= create_book.description %></td>
        <td><%= create_book.image_url %></td>
        <td><%= link_to 'Show', create_book %></td>
        <td><%= link_to 'Edit', edit_create_book_path(create_book) %></td>
        <td><%= link_to 'Destroy', create_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Create Book', new_create_book_path %>
