<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @create_book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @create_book.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @create_book.image_url %>
</p>

<%= link_to 'Edit', edit_create_book_path(@create_book) %> |
<%= link_to 'Back', create_books_path %>
